@inject IJSRuntime Js

<dialog class="plusone-modal" id="@Id">
    <div style="display:flex;flex-direction:column;width:100%;">
        <div style="display:flex;justify-content:space-between;background-color:whitesmoke;padding:10px;">
            <h4>@Title</h4>
            <button class="btn btn-danger btn-sm" @onclick="Close">Close</button>
        </div>
        <div style="flex:1;padding:10px;">
            @ChildContent
        </div>
        <div style="display:flex;justify-content:flex-end;background-color:whitesmoke;padding:10px;">
            <button class="btn btn-secondary" @onclick="Close">Close</button>
        </div>
    </div>
</dialog>

@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; }
    [Parameter]
    public string Title { get; set; } = "Modal";

    private Guid Id { get; set; } = Guid.NewGuid();

    public async Task Open() => await Js.InvokeVoidAsync("modalOpen", Id.ToString());
    public async Task Close() => await Js.InvokeVoidAsync("modalClose", Id.ToString());
}
